 <form name="userForm">
            @* <input type="hidden" name="id" value="0" /> *@

            <div class="form-group col-md-1">
                <label for="name">Name:</label>
                <input class="form-control" name="name" />
            </div>

            <div class="col-md-2">
                <label  for="type">Type:</label>
                <select class="form-control" size="1" required name="type"> 
                <option value="0">Children</option>
                <option value="1">Adults</option>
                </select>
            </div> 

            <div class="form-group col-md-2">
                <label for="author">Author:</label>
                <input class="form-control" name="author"/>
            </div>

             <div class="form-group col-md-2">
                <label for="genre">Genre:</label>
                <input class="form-control" name="genre"/>
            </div>

            <div class="form-group col-md-2">
                <label for="numberOfPages">Number of pages:</label>
                <input class="form-control" name="numberOfPages"/>
            </div>

            <div class="form-group col-md-3">
                <label for="description">Description:</label>
                <input class="form-control" name="description"/>
            </div>

            <div class="panel-body col-md-1">
                <button type="submit" id="submit" class="btn btn-primary" onclick="reloadPage()">Save</button>
            </div>
        </form>

<table class="table table-condensed table-striped  col-md-6">
    <thead><tr><th>#</th><th>Name</th><th>Type</th><th>Author</th><th>Genre</th><th>Number of pages</th><th>Description</th></tr></thead>
    <tbody>
    </tbody>
    </table>
<script>
     $.ajax({
         url: '/Home/BookSearch',
        type: 'Post',
        dataType: 'json',
        success: function (books) {
            let rows = document.querySelector("tbody"); 
            books.forEach(book => {
                rows.append(row(book));
                });
            console.log(books);
        },
        error: function (error) {
            alert(error);
                       }
    });

      function row(book) {
 
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", book.Id);
 
            const idTd = document.createElement("td");
            idTd.append(book.Id);
            tr.append(idTd);
 
            const nameTd = document.createElement("td");
            nameTd.append(book.Name);
            tr.append(nameTd);

            const typeTd = document.createElement("td");
            if(book.ReaderType == 0)
                typeTd.append("Children");
            else
                typeTd.append("Adults");
            tr.append(typeTd);

            const authorTd = document.createElement("td");
            authorTd.append(book.Author);
            tr.append(authorTd);

            const genreTd = document.createElement("td");
            genreTd.append(book.Genre);
            tr.append(genreTd);

            const pageTd = document.createElement("td");
            pageTd.append(book.NumberOfPages);
            tr.append(pageTd);

            const descriptionTd = document.createElement("td");
            descriptionTd.append(book.Description);
            tr.append(descriptionTd);

            const linksTd = document.createElement("td");
            
       
            const removeLink = document.createElement("a");
            removeLink.setAttribute("data-id", book.Id);
            removeLink.setAttribute("style", "cursor:pointer;padding:15px;");
            removeLink.append("Delete");
            removeLink.addEventListener("click", e => {
 
                e.preventDefault();
                DeleteUser(book.Id);
                             
            });
            linksTd.append(removeLink);
            tr.appendChild(linksTd);
            return tr;
        }
</script>

